header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.img_mobile {
  display: block;
}
.img_desktop {
  display: none;
}
.menu-navigation {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}
nav {
  display: none;
}
.list_links {
  list-style: none;
}
.list_links li {
  margin: 16px 0;;
}
.list_links li a{
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .menu-navigation{
    margin-top: 0;
    width: 467px;
  }
  .menu-navigation label {
    display: none; 
  }
  .menu-navigation nav{
    display: block;
  }
  .menu-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .menu-navigation ul li{
    margin: 0;
  } 
}
@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }
  .img_desktop{
    display: block;
  }
  .img_mobile{
    display: none;
  }
  .menu-navigation a:hover{
    color: var(--button-primary-color);
  }
} 
@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}