.hero-img{
    height: 400px;
    width: 100%;
    background-image: url(../img/hero_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
}
@media screen and (min-width: 1024px) {
    .hero-img{
    height: 620px;
    width: 100%;
    background-image: url(../img/hero_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
}