.card {
  color: var(--background-secondary-color);
  box-sizing: border-box;
  background-color: black;
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
}
.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin: 0px;
}
.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px 0 0;
}
.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}